# Data Import - Working with Web APIs and JSON (Movies Dataset)

## Importing Data from JSON files

In [1]:
import pandas as pd
import json

In [2]:
with open("blockbusters.json") as f:
    data = json.load(f)

In [3]:
data

[{'title': 'Avengers: Endgame',
  'id': 299534,
  'revenue': 2797800564,
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 181},
 {'title': 'Avatar',
  'id': 19995,
  'revenue': 2787965087,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 87096,
   'name': 'Avatar Collection',
   'poster_path': '/nslJVsO58Etqkk17oXMuVK4gNOF.jpg',
   'backdrop_path': '/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg'},
  'runtime': 162},
 {'title': 'Star Wars: The Force Awakens',
  'id': 140607,
  'revenue': 2068223624,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 14, 'name': 'Fantasy'}],
  'belongs_to_collection': {'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
   'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
  'runtime': 136},
 {'title': 'Avengers: Infinity War',
  'id': 299536,
  'revenue': 2046239637,
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 28, 'name': 'Action'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 149},
 {'title': 'Titanic',
  'id': 597,
  'revenue': 1845034188,
  'genres': [{'id': 18, 'name': 'Drama'},
   {'id': 10749, 'name': 'Romance'},
   {'id': 53, 'name': 'Thriller'}],
  'belongs_to_collection': None,
  'runtime': 194},
 {'title': 'Jurassic World',
  'id': 135397,
  'revenue': 1671713208,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 53, 'name': 'Thriller'}],
  'belongs_to_collection': {'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
   'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'},
  'runtime': 124},
 {'title': 'The Lion King',
  'id': 420818,
  'revenue': 1656943394,
  'genres': [{'id': 12, 'name': 'Adventure'}, {'id': 10751, 'name': 'Family'}],
  'belongs_to_collection': None,
  'runtime': 118},
 {'title': 'The Avengers',
  'id': 24428,
  'revenue': 1519557910,
  'genres': [{'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 143},
 {'title': 'Furious 7',
  'id': 168259,
  'revenue': 1506249360,
  'genres': [{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}],
  'belongs_to_collection': {'id': 9485,
   'name': 'The Fast and the Furious Collection',
   'poster_path': '/uv63yAGg1zETAs1XQsOQpava87l.jpg',
   'backdrop_path': '/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg'},
  'runtime': 137},
 {'title': 'Avengers: Age of Ultron',
  'id': 99861,
  'revenue': 1405403694,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 141},
 {'title': 'Black Panther',
  'id': 284054,
  'revenue': 1346739107,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 529892,
   'name': 'Black Panther Collection',
   'poster_path': '/9ZSPIsxI3TZDgfg0Jzk0RZl4INg.jpg',
   'backdrop_path': '/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg'},
  'runtime': 134},
 {'title': 'Harry Potter and the Deathly Hallows: Part 2',
  'id': 12445,
  'revenue': 1341511219,
  'genres': [{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'name': 'Adventure'}],
  'belongs_to_collection': {'id': 1241,
   'name': 'Harry Potter Collection',
   'poster_path': '/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg',
   'backdrop_path': '/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg'},
  'runtime': 130},
 {'title': 'Star Wars: The Last Jedi',
  'id': 181808,
  'revenue': 1332539889,
  'genres': [{'id': 14, 'name': 'Fantasy'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'}],
  'belongs_to_collection': {'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
   'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
  'runtime': 152},
 {'title': 'Frozen II',
  'id': 330457,
  'revenue': 1330764959,
  'genres': [{'id': 16, 'name': 'Animation'},
   {'id': 10751, 'name': 'Family'},
   {'id': 12, 'name': 'Adventure'}],
  'belongs_to_collection': {'id': 386382,
   'name': 'Frozen Collection',
   'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg',
   'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg'},
  'runtime': 104},
 {'title': 'Jurassic World: Fallen Kingdom',
  'id': 351286,
  'revenue': 1303459585,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
   'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'},
  'runtime': 129},
 {'title': 'Frozen',
  'id': 109445,
  'revenue': 1274219009,
  'genres': [{'id': 16, 'name': 'Animation'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 10751, 'name': 'Family'}],
  'belongs_to_collection': {'id': 386382,
   'name': 'Frozen Collection',
   'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg',
   'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg'},
  'runtime': 102},
 {'title': 'Beauty and the Beast',
  'id': 321612,
  'revenue': 1263521126,
  'genres': [{'id': 10751, 'name': 'Family'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 10749, 'name': 'Romance'}],
  'belongs_to_collection': None,
  'runtime': 129},
 {'title': 'Incredibles 2',
  'id': 260513,
  'revenue': 1241891456,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 16, 'name': 'Animation'},
   {'id': 10751, 'name': 'Family'}],
  'belongs_to_collection': {'id': 468222,
   'name': 'The Incredibles Collection',
   'poster_path': '/l7GqbzkJwowYRIXAtUz2iCPi64a.jpg',
   'backdrop_path': '/9eDW2dVhnzPS2HvaRdK2OlAGaLq.jpg'},
  'runtime': 118}]

In [4]:
type(data)

list

In [5]:
len(data)

18

In [6]:
data[0]

{'title': 'Avengers: Endgame',
 'id': 299534,
 'revenue': 2797800564,
 'genres': [{'id': 12, 'name': 'Adventure'},
  {'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'}],
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'runtime': 181}

In [7]:
df = pd.DataFrame(data)
df

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",None,118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [8]:
df = pd.read_json("blockbusters.json", orient = "record")
df

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",None,118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title                  18 non-null     object
 1   id                     18 non-null     int64
 2   revenue                18 non-null     int64
 3   genres                 18 non-null     object
 4   belongs_to_collection  15 non-null     object
 5   runtime                18 non-null     int64
dtypes: int64(3), object(3)
memory usage: 996.0+ bytes

In [10]:
df.genres[0]

[{'id': 12, 'name': 'Adventure'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 28, 'name': 'Action'}]

In [11]:
df.belongs_to_collection[0]

{'id': 86311,
 'name': 'The Avengers Collection',
 'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
 'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'}

In [12]:
pd.json_normalize(data = data, sep = "_")

,title,id,revenue,genres,runtime,belongs_to_collection_id,belongs_to_collection_name,belongs_to_collection_poster_path,belongs_to_collection_backdrop_path,belongs_to_collection
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",181,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",162,87096.0,Avatar Collection,/nslJVsO58Etqkk17oXMuVK4gNOF.jpg,/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg,NaN
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",136,10.0,Star Wars Collection,/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",149,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",194,NaN,NaN,NaN,NaN,NaN
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",124,328.0,Jurassic Park Collection,/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg,/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg,NaN
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",118,NaN,NaN,NaN,NaN,NaN
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",143,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",137,9485.0,The Fast and the Furious Collection,/uv63yAGg1zETAs1XQsOQpava87l.jpg,/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg,NaN
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",134,529892.0,Black Panther Collection,/9ZSPIsxI3TZDgfg0Jzk0RZl4INg.jpg,/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg,NaN
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",130,1241.0,Harry Potter Collection,/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg,/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg,NaN
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",152,10.0,Star Wars Collection,/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",104,386382.0,Frozen Collection,/rpoXnE9UzCbjmINhxIi8bZF557B.jpg,/vZiqhw6oFoMlHSneIdVip9rRou2.jpg,NaN
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",129,328.0,Jurassic Park Collection,/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg,/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg,NaN
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",102,386382.0,Frozen Collection,/rpoXnE9UzCbjmINhxIi8bZF557B.jpg,/vZiqhw6oFoMlHSneIdVip9rRou2.jpg,NaN
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",129,NaN,NaN,NaN,NaN,NaN
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",118,468222.0,The Incredibles Collection,/l7GqbzkJwowYRIXAtUz2iCPi64a.jpg,/9eDW2dVhnzPS2HvaRdK2OlAGaLq.jpg,NaN

In [13]:
pd.json_normalize(data = data, sep = "_").genres[0]

[{'id': 12, 'name': 'Adventure'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 28, 'name': 'Action'}]

In [14]:
pd.json_normalize(data = data, record_path = "genres", meta = ["title", "id"],
                  record_prefix = "genre_")

,genre_id,genre_name,title,id
0,12,Adventure,Avengers: Endgame,299534
1,878,Science Fiction,Avengers: Endgame,299534
2,28,Action,Avengers: Endgame,299534
3,28,Action,Avatar,19995
4,12,Adventure,Avatar,19995
5,14,Fantasy,Avatar,19995
6,878,Science Fiction,Avatar,19995
7,28,Action,Star Wars: The Force Awakens,140607
8,12,Adventure,Star Wars: The Force Awakens,140607
9,878,Science Fiction,Star Wars: The Force Awakens,140607
10,14,Fantasy,Star Wars: The Force Awakens,140607
11,12,Adventure,Avengers: Infinity War,299536
12,28,Action,Avengers: Infinity War,299536
13,878,Science Fiction,Avengers: Infinity War,299536
14,18,Drama,Titanic,597
15,10749,Romance,Titanic,597
16,53,Thriller,Titanic,597
17,28,Action,Jurassic World,135397
18,12,Adventure,Jurassic World,135397
19,878,Science Fiction,Jurassic World,135397
20,53,Thriller,Jurassic World,135397
21,12,Adventure,The Lion King,420818
22,10751,Family,The Lion King,420818
23,878,Science Fiction,The Avengers,24428
24,28,Action,The Avengers,24428
25,12,Adventure,The Avengers,24428
26,28,Action,Furious 7,168259
27,53,Thriller,Furious 7,168259
28,28,Action,Avengers: Age of Ultron,99861
29,12,Adventure,Avengers: Age of Ultron,99861
30,878,Science Fiction,Avengers: Age of Ultron,99861
31,28,Action,Black Panther,284054
32,12,Adventure,Black Panther,284054
33,14,Fantasy,Black Panther,284054
34,878,Science Fiction,Black Panther,284054
35,14,Fantasy,Harry Potter and the Deathly Hallows: Part 2,12445
36,12,Adventure,Harry Potter and the Deathly Hallows: Part 2,12445
37,14,Fantasy,Star Wars: The Last Jedi,181808
38,12,Adventure,Star Wars: The Last Jedi,181808
39,878,Science Fiction,Star Wars: The Last Jedi,181808
40,28,Action,Star Wars: The Last Jedi,181808
41,16,Animation,Frozen II,330457
42,10751,Family,Frozen II,330457
43,12,Adventure,Frozen II,330457
44,28,Action,Jurassic World: Fallen Kingdom,351286
45,12,Adventure,Jurassic World: Fallen Kingdom,351286
46,878,Science Fiction,Jurassic World: Fallen Kingdom,351286
47,16,Animation,Frozen,109445
48,12,Adventure,Frozen,109445
49,10751,Family,Frozen,109445
50,10751,Family,Beauty and the Beast,321612
51,14,Fantasy,Beauty and the Beast,321612
52,10749,Romance,Beauty and the Beast,321612
53,28,Action,Incredibles 2,260513
54,12,Adventure,Incredibles 2,260513
55,16,Animation,Incredibles 2,260513
56,10751,Family,Incredibles 2,260513

## Working with APIs and JSON (Part 1)

In [15]:
api_key  = "api_key=64e6e82b9e2df65036fbdf3b1b4d283f"

In [16]:
#example: assume your personal api-key is "123abc"
api_key  = "api_key=64e6e82b9e2df65036fbdf3b1b4d283f"

In [17]:
import pandas as pd
import requests
pd.options.display.max_columns = 30

In [18]:
movie_id = 140607

In [19]:
movie_api = "https://api.themoviedb.org/3/movie/{}?"
movie_api

'https://api.themoviedb.org/3/movie/{}?'

In [20]:
url = movie_api.format(movie_id) + api_key
url

'https://api.themoviedb.org/3/movie/140607?api_key=64e6e82b9e2df65036fbdf3b1b4d283f'

In [21]:
r = requests.get(url)
r

In [22]:
data = r.json()

In [23]:
data

{'adult': False,
 'backdrop_path': '/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg',
 'belongs_to_collection': {'id': 10,
  'name': 'Star Wars Collection',
  'poster_path': '/r8Ph5MYXL04Qzu4QBbq2KjqwtkQ.jpg',
  'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
 'budget': 245000000,
 'genres': [{'id': 12, 'name': 'Adventure'},
  {'id': 28, 'name': 'Action'},
  {'id': 878, 'name': 'Science Fiction'}],
 'homepage': 'http://www.starwars.com/films/star-wars-episode-vii',
 'id': 140607,
 'imdb_id': 'tt2488496',
 'original_language': 'en',
 'original_title': 'Star Wars: The Force Awakens',
 'overview': 'Thirty years after defeating the Galactic Empire, Han Solo and his allies face a new threat from the evil Kylo Ren and his army of Stormtroopers.',
 'popularity': 57.727,
 'poster_path': '/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg',
 'production_companies': [{'id': 1,
   'logo_path': '/tlVSws0RvvtPBwViUyOFAO0vcQS.png',
   'name': 'Lucasfilm Ltd.',
   'origin_country': 'US'},
  {'id': 11461,
   'logo_path': '/p9FoEt5shEKRWRKVIlvFaEmRnun.png',
   'name': 'Bad Robot',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2015-12-15',
 'revenue': 2068223624,
 'runtime': 136,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Every generation has a story.',
 'title': 'Star Wars: The Force Awakens',
 'video': False,
 'vote_average': 7.285,
 'vote_count': 18782}

In [24]:
type(data)

dict

In [25]:
# pd.DataFrame(data)

In [26]:
pd.Series(data)

adult                                                                False
backdrop_path                             /k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg
belongs_to_collection    {'id': 10, 'name': 'Star Wars Collection', 'po...
budget                                                           245000000
genres                   [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
homepage                 http://www.starwars.com/films/star-wars-episod...
id                                                                  140607
imdb_id                                                          tt2488496
original_language                                                       en
original_title                                Star Wars: The Force Awakens
overview                 Thirty years after defeating the Galactic Empi...
popularity                                                          57.727
poster_path                               /wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg
production_companies     [{'id': 1, 'logo_path': '/tlVSws0RvvtPBwViUyOF...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    2015-12-15
revenue                                                         2068223624
runtime                                                                136
spoken_languages         [{'english_name': 'English', 'iso_639_1': 'en'...
status                                                            Released
tagline                                      Every generation has a story.
title                                         Star Wars: The Force Awakens
video                                                                False
vote_average                                                         7.285
vote_count                                                           18782
dtype: object

In [27]:
df = pd.Series(data).to_frame().T
df

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,57.727,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1, 'logo_path': '/tlVSws0RvvtPBwViUyOF...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.285,18782

In [28]:
pd.json_normalize(data, sep = "_")

,adult,backdrop_path,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,belongs_to_collection_id,belongs_to_collection_name,belongs_to_collection_poster_path,belongs_to_collection_backdrop_path
0,False,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,245000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,57.727,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1, 'logo_path': '/tlVSws0RvvtPBwViUyOF...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.285,18782,10,Star Wars Collection,/r8Ph5MYXL04Qzu4QBbq2KjqwtkQ.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg

In [29]:
pd.json_normalize(data = data, record_path = "genres", meta = "title", record_prefix = "genre_")

   genre_id       genre_name                         title
0        12        Adventure  Star Wars: The Force Awakens
1        28           Action  Star Wars: The Force Awakens
2       878  Science Fiction  Star Wars: The Force Awakens

In [30]:
pd.json_normalize(data = data, record_path = "production_companies", meta = "title",record_prefix = "prod_comp_")

,prod_comp_id,prod_comp_logo_path,prod_comp_name,prod_comp_origin_country,title
0,1,/tlVSws0RvvtPBwViUyOFAO0vcQS.png,Lucasfilm Ltd.,US,Star Wars: The Force Awakens
1,11461,/p9FoEt5shEKRWRKVIlvFaEmRnun.png,Bad Robot,US,Star Wars: The Force Awakens

## Working with APIs and JSON (Part 2)

In [31]:
import pandas as pd
import requests
pd.options.display.max_columns = 30

In [32]:
discover_api = "https://api.themoviedb.org/3/discover/movie?"

In [33]:
query = "&primary_release_date.gte=2020-01-01&primary_release_date.lte=2020-02-29"

In [34]:
url = discover_api+api_key+query

In [35]:
data = requests.get(url).json()

In [36]:
data

{'page': 1,
 'results': [{'adult': False,
   'backdrop_path': '/tintsaQ0WLzZsTMkTiqtMB3rfc8.jpg',
   'genre_ids': [28, 80, 35],
   'id': 522627,
   'original_language': 'en',
   'original_title': 'The Gentlemen',
   'overview': 'American expat Mickey Pearson has built a highly profitable marijuana empire in London. When word gets out that he’s looking to cash out of the business forever it triggers plots, schemes, bribery and blackmail in an attempt to steal his domain out from under him.',
   'popularity': 97.875,
   'poster_path': '/jtrhTYB7xSrJxR1vusu99nvnZ1g.jpg',
   'release_date': '2020-01-01',
   'title': 'The Gentlemen',
   'video': False,
   'vote_average': 7.681,
   'vote_count': 5392},
  {'adult': False,
   'backdrop_path': '/stmYfCUGd8Iy6kAMBr6AmWqx8Bq.jpg',
   'genre_ids': [28, 878, 35, 10751],
   'id': 454626,
   'original_language': 'en',
   'original_title': 'Sonic the Hedgehog',
   'overview': 'Powered with incredible speed, Sonic The Hedgehog embraces his new home on Earth. That is, until Sonic sparks the attention of super-uncool evil genius Dr. Robotnik. Now it’s super-villain vs. super-sonic in an all-out race across the globe to stop Robotnik from using Sonic’s unique power for world domination.',
   'popularity': 67.362,
   'poster_path': '/aQvJ5WPzZgYVDrxLX4R6cLJCEaQ.jpg',
   'release_date': '2020-02-12',
   'title': 'Sonic the Hedgehog',
   'video': False,
   'vote_average': 7.333,
   'vote_count': 9175},
  {'adult': False,
   'backdrop_path': '/eAIHqfS3kXm7kZl4j7ZBfdegyEz.jpg',
   'genre_ids': [53, 28, 80],
   'id': 38700,
   'original_language': 'en',
   'original_title': 'Bad Boys for Life',
   'overview': 'Marcus and Mike are forced to confront new threats, career changes, and midlife crises as they join the newly created elite team AMMO of the Miami police department to take down the ruthless Armando Armas, the vicious leader of a Miami drug cartel.',
   'popularity': 54.064,
   'poster_path': '/y95lQLnuNKdPAzw9F9Ab8kJ80c3.jpg',
   'release_date': '2020-01-15',
   'title': 'Bad Boys for Life',
   'video': False,
   'vote_average': 7.13,
   'vote_count': 7720},
  {'adult': False,
   'backdrop_path': '/7dCzb1oa7ACYi66VIrE1wqmftAa.jpg',
   'genre_ids': [28],
   'id': 660521,
   'original_language': 'en',
   'original_title': 'The Mercenary',
   'overview': 'When a mission in South America goes wrong a mercenary is left for dead, but he is nursed back to health and reborn with a new outlook on life. But his peaceful days are short-lived when mercenaries he used to work with cross his path again and he is forced to revisit and face his own demons.',
   'popularity': 47.497,
   'poster_path': '/p3wgefagejlefFEDsLRHiXU7NGu.jpg',
   'release_date': '2020-01-07',
   'title': 'The Mercenary',
   'video': False,
   'vote_average': 6.104,
   'vote_count': 24},
  {'adult': False,
   'backdrop_path': '/xFxk4vnirOtUxpOEWgA1MCRfy6J.jpg',
   'genre_ids': [10751, 16, 12, 35, 14],
   'id': 508439,
   'original_language': 'en',
   'original_title': 'Onward',
   'overview': 'In a suburban fantasy world, two teenage elf brothers embark on an extraordinary quest to discover if there is still a little magic left out there.',
   'popularity': 43.404,
   'poster_path': '/f4aul3FyD3jv3v4bul1IrkWZvzq.jpg',
   'release_date': '2020-02-29',
   'title': 'Onward',
   'video': False,
   'vote_average': 7.703,
   'vote_count': 5893},
  {'adult': False,
   'backdrop_path': '/uozb2VeD87YmhoUP1RrGWfzuCrr.jpg',
   'genre_ids': [28, 80],
   'id': 495764,
   'original_language': 'en',
   'original_title': 'Birds of Prey (and the Fantabulous Emancipation of One Harley Quinn)',
   'overview': 'Harley Quinn joins forces with a singer, an assassin and a police detective to help a young girl who had a hit placed on her after she stole a rare diamond from a crime lord.',
   'popularity': 40.33,
   'poster_path': '/h4VB6m0RwcicVEZvzftYZyKXs6K.jpg',
   'release_date': '2020-02-05',
   'title': 'Birds of Prey (and the Fantabulous Emancipation of One Harley Quinn)',
   'video': False,
   'vote_average': 6.9,
   'vote_count': 9903},
  {'adult': False,
   'backdrop_path': '/ww7eC3BqSbFsyE5H5qMde8WkxJ2.jpg',
   'genre_ids': [27, 878, 28, 12],
   'id': 443791,
   'original_language': 'en',
   'original_title': 'Underwater',
   'overview': 'After an earthquake destroys their underwater station, six researchers must navigate two miles along the dangerous, unknown depths of the ocean floor to make it to safety in a race against time.',
   'popularity': 37.901,
   'poster_path': '/gzlbb3yeVISpQ3REd3Ga1scWGTU.jpg',
   'release_date': '2020-01-08',
   'title': 'Underwater',
   'video': False,
   'vote_average': 6.287,
   'vote_count': 2943},
  {'adult': False,
   'backdrop_path': '/2cbUXan4QUY1QoVnhhunJqpKR8y.jpg',
   'genre_ids': [10751, 35, 14, 12],
   'id': 448119,
   'original_language': 'en',
   'original_title': 'Dolittle',
   'overview': 'After losing his wife seven years earlier, the eccentric Dr. John Dolittle, famed doctor and veterinarian of Queen Victoria’s England, hermits himself away behind the high walls of Dolittle Manor with only his menagerie of exotic animals for company. But when the young queen falls gravely ill, a reluctant Dolittle is forced to set sail on an epic adventure to a mythical island in search of a cure, regaining his wit and courage as he crosses old adversaries and discovers wondrous creatures.',
   'popularity': 36.406,
   'poster_path': '/uoplwswBDy7gsOyrbGuKyPFoPCs.jpg',
   'release_date': '2020-01-02',
   'title': 'Dolittle',
   'video': False,
   'vote_average': 6.623,
   'vote_count': 3497},
  {'adult': False,
   'backdrop_path': '/sizHX5VbwlBihaathTQHVGk1jdi.jpg',
   'genre_ids': [878, 18, 28],
   'id': 514207,
   'original_language': 'ru',
   'original_title': 'Вторжение',
   'overview': 'Two years after the fall of the alien ship, the life of a young woman from Moscow has been changed forever. Her growing powers are now at the focus of both human and celestial investigation: an alien force takes an interest in her, and will stop short of nothing, including an invasion. Can love and compassion save humanity, when faced with a much greater and more demanding test this time?',
   'popularity': 35.654,
   'poster_path': '/dqKqzcdhtJwOhjqe89RTURqILtl.jpg',
   'release_date': '2020-01-01',
   'title': 'Invasion',
   'video': False,
   'vote_average': 6.929,
   'vote_count': 760},
  {'adult': False,
   'backdrop_path': '/8HbqSozBJxv6UldR9lMUECUlbLI.jpg',
   'genre_ids': [878, 12, 28],
   'id': 430155,
   'original_language': 'ru',
   'original_title': 'Кома',
   'overview': 'A young and talented architect comes to his senses after a horrific accident only to find himself in the odd dystopian world. A world that is filled with the memories of all current coma patients. Just like a human memory this world is fragmental, chaotic and unstable. This is COMA: icecaps, rivers and cities can all exist in a space of a single room and laws of physics are no longer laws as they can be bent.',
   'popularity': 33.987,
   'poster_path': '/ijJm0RSeKIr67qkHLtSmtigS6ra.jpg',
   'release_date': '2020-01-01',
   'title': 'Coma',
   'video': False,
   'vote_average': 6.392,
   'vote_count': 499},
  {'adult': False,
   'backdrop_path': '/tQprwIKzFx83JpM5dVrGRC4UpF.jpg',
   'genre_ids': [16, 12, 14, 9648],
   'id': 573730,
   'original_language': 'ja',
   'original_title': '劇場版メイドインアビス 深き魂の黎明',
   'overview': "A continuation of the epic adventure of plucky Riko and Reg who are joined by their new friend Nanachi. Together they descend into the Abyss' treacherous fifth layer, the Sea of Corpses, and encounter the mysterious Bondrewd, a legendary White Whistle whose shadow looms over Nanachi's troubled past. Bondrewd is ingratiatingly hospitable, but the brave adventurers know things are not always as they seem in the enigmatic Abyss.",
   'popularity': 29.612,
   'poster_path': '/fsPZdpocYYbvDS2YEE1Xohqo1ni.jpg',
   'release_date': '2020-01-17',
   'title': 'Made in Abyss: Dawn of the Deep Soul',
   'video': False,
   'vote_average': 7.899,
   'vote_count': 203},
  {'adult': False,
   'backdrop_path': '/dzfiE2VHY362dGI62XfZ2iI87CT.jpg',
   'genre_ids': [27, 14, 12, 9648],
   'id': 539537,
   'original_language': 'en',
   'original_title': 'Fantasy Island',
   'overview': 'A group of contest winners arrive at an island hotel to live out their dreams, only to find themselves trapped in nightmare scenarios.',
   'popularity': 29.065,
   'poster_path': '/8ZMrZGGW65ePWIgRn1260nA1uUm.jpg',
   'release_date': '2020-02-12',
   'title': 'Fantasy Island',
   'video': False,
   'vote_average': 5.815,
   'vote_count': 2331},
  {'adult': False,
   'backdrop_path': '/3pIqd1hgZ2xqzWEyiYp4blqE9Fi.jpg',
   'genre_ids': [53, 36, 18],
   'id': 522241,
   'original_language': 'en',
   'original_title': 'The Courier',
   'overview': 'Cold War spy Greville Wynne and his Russian source try to put an end to the Cuban Missile Crisis.',
   'popularity': 28.853,
   'poster_path': '/zFIjKtZrzhmc7HecdFXXjsLR2Ig.jpg',
   'release_date': '2020-01-24',
   'title': 'The Courier',
   'video': False,
   'vote_average': 7.039,
   'vote_count': 1036},
  {'adult': False,
   'backdrop_path': '/23IeumCWwWE7u2d2FDNSGPsNRbl.jpg',
   'genre_ids': [18, 27, 53],
   'id': 474764,
   'original_language': 'en',
   'original_title': 'The Lodge',
   'overview': "When a father is forced to abruptly depart for work, he leaves his children, Aidan and Mia, at their holiday home in the care of his new girlfriend, Grace. Isolated and alone, a blizzard traps them inside the lodge as terrifying events summon specters from Grace's dark past.",
   'popularity': 27.495,
   'poster_path': '/yake2myhbW7c6dKbmwYDy1i40bm.jpg',
   'release_date': '2020-01-16',
   'title': 'The Lodge',
   'video': False,
   'vote_average': 6.121,
   'vote_count': 1170},
  {'adult': False,
   'backdrop_path': '/42gqGeyXh4caHP19Tqf8DMRgc7r.jpg',
   'genre_ids': [35, 10749],
   'id': 556678,
   'original_language': 'en',
   'original_title': 'Emma.',
   'overview': 'In 1800s England, a well-meaning but selfish young woman meddles in the love lives of her friends.',
   'popularity': 26.989,
   'poster_path': '/uHpHzbHLSsVmAuuGuQSpyVDZmDc.jpg',
   'release_date': '2020-02-13',
   'title': 'Emma.',
   'video': False,
   'vote_average': 7.041,
   'vote_count': 1628},
  {'adult': False,
   'backdrop_path': '/6mKAKhj8POVGqV1GsroS5mGIUe9.jpg',
   'genre_ids': [14, 28, 12],
   'id': 666750,
   'original_language': 'en',
   'original_title': 'Dragonheart: Vengeance',
   'overview': 'Lukas, a young farmer whose family is killed by savage raiders in the countryside, sets out on an epic quest for revenge, forming an unlikely trio with a majestic dragon and a swashbuckling, sword-fighting mercenary, Darius.',
   'popularity': 26.776,
   'poster_path': '/qs6gz6atyQcAvqC6qZaslOjliUG.jpg',
   'release_date': '2020-02-04',
   'title': 'Dragonheart: Vengeance',
   'video': False,
   'vote_average': 6.877,
   'vote_count': 300},
  {'adult': False,
   'backdrop_path': '/pQdZmXq0vvKP1RYUrDHQkzMlS4x.jpg',
   'genre_ids': [16, 28, 12, 14],
   'id': 571265,
   'original_language': 'ja',
   'original_title': 'デジモンアドベンチャー LAST EVOLUTION 絆',
   'overview': 'Tai is now a university student, living alone, working hard at school, and working every day, but with his future still undecided. Meanwhile, Matt and others continue to work on Digimon incidents and activities that help people with their partner Digimon. When an unprecedented phenomenon occurs, the DigiDestined discover that when they grow up, their relationship with their partner Digimon will come closer to an end.  As a countdown timer activates on the Digivice, they realize that the more they fight with their partner Digimon, the faster their bond breaks. Will they fight for others and lose their partner? The time to choose and decide is approaching fast. There is a short time before “chosen children” will become adults. This is the last adventure of Tai and Agumon.',
   'popularity': 26.753,
   'poster_path': '/z3l5iwWQLxcInVnNkC8k8hxqZ60.jpg',
   'release_date': '2020-02-21',
   'title': 'Digimon Adventure: Last Evolution Kizuna',
   'video': False,
   'vote_average': 8.1,
   'vote_count': 231},
  {'adult': False,
   'backdrop_path': '/yFRpUmsreYO5Bc0HVBTsJsHIIox.jpg',
   'genre_ids': [12, 10751, 18],
   'id': 481848,
   'original_language': 'en',
   'original_title': 'The Call of the Wild',
   'overview': 'Buck is a big-hearted dog whose blissful domestic life is turned upside down when he is suddenly uprooted from his California home and transplanted to the exotic wilds of the Yukon during the Gold Rush of the 1890s. As the newest rookie on a mail delivery dog sled team—and later its leader—Buck experiences the adventure of a lifetime, ultimately finding his true place in the world and becoming his own master.',
   'popularity': 26.029,
   'poster_path': '/33VdppGbeNxICrFUtW2WpGHvfYc.jpg',
   'release_date': '2020-02-19',
   'title': 'The Call of the Wild',
   'video': False,
   'vote_average': 7.567,
   'vote_count': 3543},
  {'adult': False,
   'backdrop_path': '/tcrNJfyNEIqaBR8Ogkgnq5xQJnf.jpg',
   'genre_ids': [10749, 18],
   'id': 342470,
   'original_language': 'en',
   'original_title': 'All the Bright Places',
   'overview': 'Two teens facing personal struggles form a powerful bond as they embark on a cathartic journey chronicling the wonders of Indiana.',
   'popularity': 25.525,
   'poster_path': '/4SafxuMKQiw4reBiWKVZJpJn80I.jpg',
   'release_date': '2020-02-28',
   'title': 'All the Bright Places',
   'video': False,
   'vote_average': 7.655,
   'vote_count': 2767},
  {'adult': False,
   'backdrop_path': '/tweDJNQzBGgsWVF5MC8JhSAk07p.jpg',
   'genre_ids': [53, 878, 27],
   'id': 570670,
   'original_language': 'en',
   'original_title': 'The Invisible Man',
   'overview': "When Cecilia's abusive ex takes his own life and leaves her his fortune, she suspects his death was a hoax. As a series of coincidences turn lethal, Cecilia works to prove that she is being hunted by someone nobody can see.",
   'popularity': 25.518,
   'poster_path': '/5EufsDwXdY2CVttYOk2WtYhgKpa.jpg',
   'release_date': '2020-02-26',
   'title': 'The Invisible Man',
   'video': False,
   'vote_average': 7.118,
   'vote_count': 5471}],
 'total_pages': 291,
 'total_results': 5805}

In [37]:
pd.DataFrame(data)

,page,results,total_pages,total_results
0,1,"{'adult': False, 'backdrop_path': '/tintsaQ0WL...",291,5805
1,1,"{'adult': False, 'backdrop_path': '/stmYfCUGd8...",291,5805
2,1,"{'adult': False, 'backdrop_path': '/eAIHqfS3kX...",291,5805
3,1,"{'adult': False, 'backdrop_path': '/7dCzb1oa7A...",291,5805
4,1,"{'adult': False, 'backdrop_path': '/xFxk4vnirO...",291,5805
5,1,"{'adult': False, 'backdrop_path': '/uozb2VeD87...",291,5805
6,1,"{'adult': False, 'backdrop_path': '/ww7eC3BqSb...",291,5805
7,1,"{'adult': False, 'backdrop_path': '/2cbUXan4QU...",291,5805
8,1,"{'adult': False, 'backdrop_path': '/sizHX5Vbwl...",291,5805
9,1,"{'adult': False, 'backdrop_path': '/8HbqSozBJx...",291,5805
10,1,"{'adult': False, 'backdrop_path': '/tQprwIKzFx...",291,5805
11,1,"{'adult': False, 'backdrop_path': '/dzfiE2VHY3...",291,5805
12,1,"{'adult': False, 'backdrop_path': '/3pIqd1hgZ2...",291,5805
13,1,"{'adult': False, 'backdrop_path': '/23IeumCWwW...",291,5805
14,1,"{'adult': False, 'backdrop_path': '/42gqGeyXh4...",291,5805
15,1,"{'adult': False, 'backdrop_path': '/6mKAKhj8PO...",291,5805
16,1,"{'adult': False, 'backdrop_path': '/pQdZmXq0vv...",291,5805
17,1,"{'adult': False, 'backdrop_path': '/yFRpUmsreY...",291,5805
18,1,"{'adult': False, 'backdrop_path': '/tcrNJfyNEI...",291,5805
19,1,"{'adult': False, 'backdrop_path': '/tweDJNQzBG...",291,5805

In [38]:
pd.DataFrame(data["results"])

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/tintsaQ0WLzZsTMkTiqtMB3rfc8.jpg,"[28, 80, 35]",522627,en,The Gentlemen,American expat Mickey Pearson has built a high...,97.875,/jtrhTYB7xSrJxR1vusu99nvnZ1g.jpg,2020-01-01,The Gentlemen,False,7.681,5392
1,False,/stmYfCUGd8Iy6kAMBr6AmWqx8Bq.jpg,"[28, 878, 35, 10751]",454626,en,Sonic the Hedgehog,"Powered with incredible speed, Sonic The Hedge...",67.362,/aQvJ5WPzZgYVDrxLX4R6cLJCEaQ.jpg,2020-02-12,Sonic the Hedgehog,False,7.333,9175
2,False,/eAIHqfS3kXm7kZl4j7ZBfdegyEz.jpg,"[53, 28, 80]",38700,en,Bad Boys for Life,Marcus and Mike are forced to confront new thr...,54.064,/y95lQLnuNKdPAzw9F9Ab8kJ80c3.jpg,2020-01-15,Bad Boys for Life,False,7.130,7720
3,False,/7dCzb1oa7ACYi66VIrE1wqmftAa.jpg,[28],660521,en,The Mercenary,When a mission in South America goes wrong a m...,47.497,/p3wgefagejlefFEDsLRHiXU7NGu.jpg,2020-01-07,The Mercenary,False,6.104,24
4,False,/xFxk4vnirOtUxpOEWgA1MCRfy6J.jpg,"[10751, 16, 12, 35, 14]",508439,en,Onward,"In a suburban fantasy world, two teenage elf b...",43.404,/f4aul3FyD3jv3v4bul1IrkWZvzq.jpg,2020-02-29,Onward,False,7.703,5893
5,False,/uozb2VeD87YmhoUP1RrGWfzuCrr.jpg,"[28, 80]",495764,en,Birds of Prey (and the Fantabulous Emancipatio...,"Harley Quinn joins forces with a singer, an as...",40.330,/h4VB6m0RwcicVEZvzftYZyKXs6K.jpg,2020-02-05,Birds of Prey (and the Fantabulous Emancipatio...,False,6.900,9903
6,False,/ww7eC3BqSbFsyE5H5qMde8WkxJ2.jpg,"[27, 878, 28, 12]",443791,en,Underwater,After an earthquake destroys their underwater ...,37.901,/gzlbb3yeVISpQ3REd3Ga1scWGTU.jpg,2020-01-08,Underwater,False,6.287,2943
7,False,/2cbUXan4QUY1QoVnhhunJqpKR8y.jpg,"[10751, 35, 14, 12]",448119,en,Dolittle,"After losing his wife seven years earlier, the...",36.406,/uoplwswBDy7gsOyrbGuKyPFoPCs.jpg,2020-01-02,Dolittle,False,6.623,3497
8,False,/sizHX5VbwlBihaathTQHVGk1jdi.jpg,"[878, 18, 28]",514207,ru,Вторжение,"Two years after the fall of the alien ship, th...",35.654,/dqKqzcdhtJwOhjqe89RTURqILtl.jpg,2020-01-01,Invasion,False,6.929,760
9,False,/8HbqSozBJxv6UldR9lMUECUlbLI.jpg,"[878, 12, 28]",430155,ru,Кома,A young and talented architect comes to his se...,33.987,/ijJm0RSeKIr67qkHLtSmtigS6ra.jpg,2020-01-01,Coma,False,6.392,499
10,False,/tQprwIKzFx83JpM5dVrGRC4UpF.jpg,"[16, 12, 14, 9648]",573730,ja,劇場版メイドインアビス 深き魂の黎明,A continuation of the epic adventure of plucky...,29.612,/fsPZdpocYYbvDS2YEE1Xohqo1ni.jpg,2020-01-17,Made in Abyss: Dawn of the Deep Soul,False,7.899,203
11,False,/dzfiE2VHY362dGI62XfZ2iI87CT.jpg,"[27, 14, 12, 9648]",539537,en,Fantasy Island,A group of contest winners arrive at an island...,29.065,/8ZMrZGGW65ePWIgRn1260nA1uUm.jpg,2020-02-12,Fantasy Island,False,5.815,2331
12,False,/3pIqd1hgZ2xqzWEyiYp4blqE9Fi.jpg,"[53, 36, 18]",522241,en,The Courier,Cold War spy Greville Wynne and his Russian so...,28.853,/zFIjKtZrzhmc7HecdFXXjsLR2Ig.jpg,2020-01-24,The Courier,False,7.039,1036
13,False,/23IeumCWwWE7u2d2FDNSGPsNRbl.jpg,"[18, 27, 53]",474764,en,The Lodge,When a father is forced to abruptly depart for...,27.495,/yake2myhbW7c6dKbmwYDy1i40bm.jpg,2020-01-16,The Lodge,False,6.121,1170
14,False,/42gqGeyXh4caHP19Tqf8DMRgc7r.jpg,"[35, 10749]",556678,en,Emma.,"In 1800s England, a well-meaning but selfish y...",26.989,/uHpHzbHLSsVmAuuGuQSpyVDZmDc.jpg,2020-02-13,Emma.,False,7.041,1628
15,False,/6mKAKhj8POVGqV1GsroS5mGIUe9.jpg,"[14, 28, 12]",666750,en,Dragonheart: Vengeance,"Lukas, a young farmer whose family is killed b...",26.776,/qs6gz6atyQcAvqC6qZaslOjliUG.jpg,2020-02-04,Dragonheart: Vengeance,False,6.877,300
16,False,/pQdZmXq0vvKP1RYUrDHQkzMlS4x.jpg,"[16, 28, 12, 14]",571265,ja,デジモンアドベンチャー LAST EVOLUTION 絆,"Tai is now a university student, living alone,...",26.753,/z3l5iwWQLxcInVnNkC8k8hxqZ60.jpg,2020-02-21,Digimon Adventure: Last Evolution Kizuna,False,8.100,231
17,False,/yFRpUmsreYO5Bc0HVBTsJsHIIox.jpg,"[12, 10751, 18]",481848,en,The Call of the Wild,Buck is a big-hearted dog whose blissful domes...,26.029,/33VdppGbeNxICrFUtW2WpGHvfYc.jpg,2020-02-19,The Call of the Wild,False,7.567,3543
18,False,/tcrNJfyNEIqaBR8Ogkgnq5xQJnf.jpg,"[10749, 18]",342470,en,All the Bright Places,Two teens facing personal struggles form a pow...,25.525,/4SafxuMKQiw4reBiWKVZJpJn80I.jpg,2020-02-28,All the Bright Places,False,7.655,2767
19,False,/tweDJNQzBGgsWVF5MC8JhSAk07p.jpg,"[53, 878, 27]",570670,en,The Invisible Man,When Cecilia's abusive ex takes his own life a...,25.518,/5EufsDwXdY2CVttYOk2WtYhgKpa.jpg,2020-02-26,The Invisible Man,False,7.118,5471

##  Importing and Saving the Movies Dataset (Best Practice)

In [39]:
import pandas as pd
import requests
import json
pd.options.display.max_columns = 30

In [40]:
movie_id = [0, 299534, 19995, 140607, 299536, 597, 135397,
            420818, 24428, 168259, 99861, 284054, 12445,
            181808, 330457, 351286, 109445, 321612, 260513]

In [41]:
basic_url = 'https://api.themoviedb.org/3/movie/{}?{}'

In [42]:
json_list = []
for movie in movie_id:
    url = basic_url.format(movie, api_key)
    r = requests.get(url)
    if r.status_code != 200:
        continue
    else:
        data = r.json()
        json_list.append(data) 
df = pd.DataFrame(json_list)

In [43]:
requests.get(basic_url.format(0, api_key)).status_code

404

In [44]:
df

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",356000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",https://www.marvel.com/movies/avengers-endgame,299534,tt4154796,en,Avengers: Endgame,After the devastating events of Avengers: Infi...,97.509,/or06FN3Dka5tukK1e9sl16pB3iy.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-04-24,2800000000,181,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Avenge the fallen.,Avengers: Endgame,False,8.257,24629
1,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://www.avatar.com/movies/avatar,19995,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",113.289,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,"[{'id': 444, 'logo_path': None, 'name': 'Dune ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-12-15,2923706026,162,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Enter the world of Pandora.,Avatar,False,7.580,30631
2,False,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,57.727,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1, 'logo_path': '/tlVSws0RvvtPBwViUyOF...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.285,18782
3,False,/mDfJG3LC3Dqb67AZ52x3Z0jU0uB.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",https://www.marvel.com/movies/avengers-infinit...,299536,tt4154756,en,Avengers: Infinity War,As the Avengers and their allies have continue...,156.312,/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-04-25,2052415039,149,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,An entire universe. Once and for all.,Avengers: Infinity War,False,8.248,28640
4,False,/sCzcYW9h55WcesOqA12cgEr9Exw.jpg,None,200000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",https://www.paramountmovies.com/movies/titanic,597,tt0120338,en,Titanic,101-year-old Rose DeWitt Bukater tells the sto...,111.747,/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg,"[{'id': 4, 'logo_path': '/gz66EfNoYPqHTYI4q9UE...","[{'iso_3166_1': 'US', 'name': 'United States o...",1997-11-18,2264162353,194,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Nothing on Earth could come between them.,Titanic,False,7.904,24419
5,False,/dF6FjTZzRTENfB4R17HDN20jLT2.jpg,"{'id': 328, 'name': 'Jurassic Park Collection'...",150000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.jurassicworld.com/,135397,tt0369610,en,Jurassic World,Twenty-two years after the events of Jurassic ...,69.451,/A0LZHXUzo5C60Oahvt7VxvwuzHw.jpg,"[{'id': 56, 'logo_path': '/cEaxANEisCqeEoRvODv...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-06-06,1671537444,124,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The park is open.,Jurassic World,False,6.686,19810
6,False,/1TUg5pO1VZ4B0Q1amk3OlXvlpXV.jpg,"{'id': 762512, 'name': 'The Lion King (Reboot)...",260000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",https://movies.disney.com/the-lion-king-2019,420818,tt6105098,en,The Lion King,"Simba idolizes his father, King Mufasa, and ta...",79.987,/dzBtMocZuJbjLOXvrl4zGYigDzh.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-07-12,1663000000,118,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The King has Returned.,The Lion King,False,7.116,9580
7,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,When an unexpected enemy emerges and threatens...,105.944,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-04-25,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.700,29832
8,False,/cHkhb5A4gQRK6zs6Pv7zorHs8Nk.jpg,"{'id': 9485, 'name': 'The Fast and the Furious...",190000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",https://www.thefastsaga.com/fast-saga/ff7,168259,tt2820852,en,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...,69.961,/ktofZ9Htrjiy0P6LEowsDaxd3Ri.jpg,"[{'id': 333, 'logo_path': '/5xUJfzPZ8jWJUDzYtI...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-04-01,1515400000,137,"[{'english_name': 'Arabic', 'iso_639_1': 'ar',...",Released,Vengeance hits home.,Furious 7,False,7.235,10251
9,False,/6YwkGolwdOMNpbTOmLjoehlVWs5.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",365000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,tt2395427,en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,81.763,/4ssDuvEDkSArWEdyBl2X5EHvYKU.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-04-22,1405403694,141,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A new age has come.,Avengers: Age of Ultron,False,7.273,22280
10,False,/b6ZJZHUdMEFECvGiDpJjlfUWela.jpg,"{'id': 529892, 'name': 'Black Panther Collecti...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://www.marvel.com/movies/black-panther,284054,tt1825683,en,Black Panther,"King T'Challa returns home to the reclusive, t...",91.651,/uxzzxijgPIY7slzFvMotPv8wjKA.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-02-13,1349926083,135,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Long live the king.,Black Panther,False,7.400,21508
11,False,/n5A7brJCjejceZmHyujwUTVgQNC.jpg,"{'id': 1241, 'name': 'Harry Potter Collection'...",125000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",https://www.warnerbros.com/movies/harry-potter...,12445,tt1201607,en,Harry Potter and the Deathly Hallows: Part 2,"Harry, Ron and Hermione continue their quest t...",90.430,/c54HpQmuwXjHq2C9wmoACjxoom3.jpg,"[{'id': 174, 'logo_path': '/zhD3hhtKB5qyv7ZeL4...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2011-07-12,1341511219,130,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,It all ends.,Harry Potter and the Deathly Hallows: Part 2,False,8.098,19806
12,False,/5Iw7zQTHVRBOYpA0V6z0yypOPZh.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",200000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",https://www.starwars.com/films/star-wars-episo...,181808,tt2527336,en,Star Wars: The Last Jedi,Rey develops her newly discovered abilities wi...,61.603,/kOVEVeg59E0wsnXmF9nrh6OmWII.jpg,"[{'id': 1, 'logo_path': '/tlVSws0RvvtPBwViUyOF...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017-12-13,1332698830,152,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,Star Wars: The Last Jedi,False,6.809,14733
13,False,/xJWPZIYOEFIjZpBL7SVBGnzRYXp.jpg,"{'id': 386382, 'name': 'Frozen Collection', 'p...",150000000,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",https://movies.disney.com/frozen-2,330457,tt4520988,en,Frozen II,"Elsa, Anna, Kristoff and Olaf head far into th...",73.628,/mINJaa34MtknCYl5AjtNJzWj8cD.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-11-20,1450000000,103,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The past is not what it seems.,Frozen II,False,7.260,9358
14,False,/3s9O5af2xWKWR5JzP2iJZpZeQQg.jpg,"{'id': 328, 'name': 'Jurassic Park Collection'...",170000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://www.uphe.com/movies/jurassic-world-fal...,351286,tt4881806,en,Jurassic World: Fallen Kingdom,Three years after Jurassic World was destroyed...,60.362,/c9XxwwhPHdaImA2f1WEfEsbhaFB.jpg,"[{'id': 56, 'logo_path': '/cEaxANEisCqeEoRvODv...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-06-06,1310466296,129,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The park is gone.,Jurassic World: Fallen Kingdom,False,6.547,11347
15,False,/fydUcbkqLyESCFa9U5XKqi8dIVj.jpg,"{'id': 386382, 'name': 'Frozen Collection', 'p...",150000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://movies.disney.com/frozen,109445,tt2294629,en,Frozen,Young princess Anna of Arendelle dreams about ...,95.124,/kgwjIb2JDHRhNk13lmSxiClFjVk.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2013-11-20,1274219009,102,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Only the act of true love will thaw a frozen h...,Frozen,False,7.247,15954
16,False,/m3tdSyl11fhgXPDSEt3aBctTqGP.jpg,None,160000000,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",http://movies.disney.com/beauty-and-the-beast-...,321612,tt2771200,en,Beauty and the Beast,A live-action adaptation of Disney's version o...,73.292,/hKegSKIDep2ewJWPUQD7u0KqFIp.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017-03-16,1266115964,129,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,Be our guest.,Beauty and the Beast,False,7.000,15105
17,False,/mabuNsGJgRuCTuGqjFkWe1xdu19.jpg,"{'id': 468222, 'name': 'The Incredibles Collec...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://movies.disney.com/incredibles-2,260513,tt3606756,en,Incredibles 2,Elastigirl springs into action to save the day...,71.130,/9lFKBtaVIhP7E2Pk0IY1CwTKTMZ.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-06-14,1242805359,118,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,It's time to get back to being incredible.,Incredibles 2,False,7.500,12376

In [45]:
df = df.loc[:, ["title", "id", "revenue", "genres", "belongs_to_collection", "runtime"]].sort_values(by = "revenue",
                                                                                                ascending = False)

In [46]:
df

,title,id,revenue,genres,belongs_to_collection,runtime
1,Avatar,19995,2923706026,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
0,Avengers: Endgame,299534,2800000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
4,Titanic,597,2264162353,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2052415039,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
5,Jurassic World,135397,1671537444,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1663000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...","{'id': 762512, 'name': 'The Lion King (Reboot)...",118
7,The Avengers,24428,1518815515,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1515400000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
13,Frozen II,330457,1450000000,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",103
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1349926083,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",135
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332698830,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
14,Jurassic World: Fallen Kingdom,351286,1310466296,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1266115964,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [47]:
df.to_json("movies.json", orient = "records")

In [48]:
with open("movies.json") as f:
    data = json.load(f)

In [49]:
pd.json_normalize(data)

,title,id,revenue,genres,runtime,belongs_to_collection.id,belongs_to_collection.name,belongs_to_collection.poster_path,belongs_to_collection.backdrop_path,belongs_to_collection
0,Avatar,19995,2923706026,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",162,87096.0,Avatar Collection,/uO2yU3QiGHvVp0L5e5IatTVRkYk.jpg,/gxnvX9kF7RRUQYvB52dMLPgeJkt.jpg,NaN
1,Avengers: Endgame,299534,2800000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",181,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
2,Titanic,597,2264162353,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",194,NaN,NaN,NaN,NaN,NaN
3,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",136,10.0,Star Wars Collection,/r8Ph5MYXL04Qzu4QBbq2KjqwtkQ.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
4,Avengers: Infinity War,299536,2052415039,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",149,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
5,Jurassic World,135397,1671537444,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",124,328.0,Jurassic Park Collection,/jcUXVtJ6s0NG0EaxllQCAUtqdr0.jpg,/njFixYzIxX8jsn6KMSEtAzi4avi.jpg,NaN
6,The Lion King,420818,1663000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",118,762512.0,The Lion King (Reboot) Collection,/dGpIRn4Nqi63JO1RlKxjcPbQSAw.jpg,/jIgM7YNVft0YGeXsqrh3oG5TWLx.jpg,NaN
7,The Avengers,24428,1518815515,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",143,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
8,Furious 7,168259,1515400000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",137,9485.0,The Fast and the Furious Collection,/rKKSOVv6iU3nULrKQmd9uEx9gez.jpg,/56h4DCt0ogIRI7B71xD5iA5hES1.jpg,NaN
9,Frozen II,330457,1450000000,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",103,386382.0,Frozen Collection,/dwdyvzFX9NEI7oFlRnZurRmlswQ.jpg,/s3vdRkK7KZFUDC8HEJo2GRKyVhW.jpg,NaN
10,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
11,Black Panther,284054,1349926083,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",135,529892.0,Black Panther Collection,/qT1JPO6IltC2B39QAriAg7SelMx.jpg,/nsiBzWsmmerBMuD8TKHpYBTnfhD.jpg,NaN
12,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",130,1241.0,Harry Potter Collection,/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg,/hWK8gTH2riuv65Ej43hPSeE16Mu.jpg,NaN
13,Star Wars: The Last Jedi,181808,1332698830,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",152,10.0,Star Wars Collection,/r8Ph5MYXL04Qzu4QBbq2KjqwtkQ.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
14,Jurassic World: Fallen Kingdom,351286,1310466296,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",129,328.0,Jurassic Park Collection,/jcUXVtJ6s0NG0EaxllQCAUtqdr0.jpg,/njFixYzIxX8jsn6KMSEtAzi4avi.jpg,NaN
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",102,386382.0,Frozen Collection,/dwdyvzFX9NEI7oFlRnZurRmlswQ.jpg,/s3vdRkK7KZFUDC8HEJo2GRKyVhW.jpg,NaN
16,Beauty and the Beast,321612,1266115964,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",129,NaN,NaN,NaN,NaN,NaN
17,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",118,468222.0,The Incredibles Collection,/xMX1jZyObVeWUxDQmt53X6jzIO4.jpg,/6oi6V1O9MJRNnfV8E9JMntmFqBD.jpg,NaN

In [50]:
pd.json_normalize(data, "genres", "title")

       id             name                                         title
0      28           Action                                        Avatar
1      12        Adventure                                        Avatar
2      14          Fantasy                                        Avatar
3     878  Science Fiction                                        Avatar
4      12        Adventure                             Avengers: Endgame
5     878  Science Fiction                             Avengers: Endgame
6      28           Action                             Avengers: Endgame
7      18            Drama                                       Titanic
8   10749          Romance                                       Titanic
9      12        Adventure                  Star Wars: The Force Awakens
10     28           Action                  Star Wars: The Force Awakens
11    878  Science Fiction                  Star Wars: The Force Awakens
12     12        Adventure                        Avengers: Infinity War
13     28           Action                        Avengers: Infinity War
14    878  Science Fiction                        Avengers: Infinity War
15     28           Action                                Jurassic World
16     12        Adventure                                Jurassic World
17    878  Science Fiction                                Jurassic World
18     53         Thriller                                Jurassic World
19     12        Adventure                                 The Lion King
20     18            Drama                                 The Lion King
21  10751           Family                                 The Lion King
22     16        Animation                                 The Lion King
23    878  Science Fiction                                  The Avengers
24     28           Action                                  The Avengers
25     12        Adventure                                  The Avengers
26     28           Action                                     Furious 7
27     53         Thriller                                     Furious 7
28     80            Crime                                     Furious 7
29  10751           Family                                     Frozen II
30     16        Animation                                     Frozen II
31     12        Adventure                                     Frozen II
32     35           Comedy                                     Frozen II
33     14          Fantasy                                     Frozen II
34     28           Action                       Avengers: Age of Ultron
35     12        Adventure                       Avengers: Age of Ultron
36    878  Science Fiction                       Avengers: Age of Ultron
37     28           Action                                 Black Panther
38     12        Adventure                                 Black Panther
39    878  Science Fiction                                 Black Panther
40     14          Fantasy  Harry Potter and the Deathly Hallows: Part 2
41     12        Adventure  Harry Potter and the Deathly Hallows: Part 2
42     12        Adventure                      Star Wars: The Last Jedi
43     28           Action                      Star Wars: The Last Jedi
44    878  Science Fiction                      Star Wars: The Last Jedi
45     28           Action                Jurassic World: Fallen Kingdom
46     12        Adventure                Jurassic World: Fallen Kingdom
47    878  Science Fiction                Jurassic World: Fallen Kingdom
48     53         Thriller                Jurassic World: Fallen Kingdom
49     16        Animation                                        Frozen
50  10751           Family                                        Frozen
51     12        Adventure                                        Frozen
52     14          Fantasy                                        Frozen
53  10751           Family                          Beauty and the Beast
54     14          Fantasy                          Beauty and the Beast
55  10749          Romance                          Beauty and the Beast
56     28           Action                                 Incredibles 2
57     12        Adventure                                 Incredibles 2
58     16        Animation                                 Incredibles 2
59  10751           Family                                 Incredibles 2

# Importing and Saving the Movies Dataset (Real World Scenario)

In [51]:
df

,title,id,revenue,genres,belongs_to_collection,runtime
1,Avatar,19995,2923706026,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
0,Avengers: Endgame,299534,2800000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
4,Titanic,597,2264162353,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2052415039,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
5,Jurassic World,135397,1671537444,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1663000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...","{'id': 762512, 'name': 'The Lion King (Reboot)...",118
7,The Avengers,24428,1518815515,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1515400000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
13,Frozen II,330457,1450000000,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",103
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1349926083,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",135
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332698830,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
14,Jurassic World: Fallen Kingdom,351286,1310466296,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1266115964,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [52]:
df.to_csv("movies_raw.csv", index = False)

In [53]:
df = pd.read_csv("movies_raw.csv")

In [54]:
df

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avatar,19995,2923706026,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
1,Avengers: Endgame,299534,2800000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
2,Titanic,597,2264162353,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,194
3,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
4,Avengers: Infinity War,299536,2052415039,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
5,Jurassic World,135397,1671537444,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1663000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...","{'id': 762512, 'name': 'The Lion King (Reboot)...",118
7,The Avengers,24428,1518815515,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1515400000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Frozen II,330457,1450000000,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",103
10,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
11,Black Panther,284054,1349926083,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",135
12,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
13,Star Wars: The Last Jedi,181808,1332698830,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
14,Jurassic World: Fallen Kingdom,351286,1310466296,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1266115964,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",NaN,129
17,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [55]:
df.genres[0]

"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 878, 'name': 'Science Fiction'}]"